<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Cat</display-name>
  
  <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.neko.controller.LoginServlet</servlet-class>
    </servlet>
   
   <servlet>
        <display-name>InscriptionServlet</display-name>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>com.neko.controller.InscriptionServlet</servlet-class>
    </servlet>
    
   <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>  
    <display-name>LogoutServelet</display-name>  
    <servlet-name>LogoutServelet</servlet-name>  
    <servlet-class>com.neko.controller.LogoutServelet</servlet-class>  
  </servlet>  
  
   <servlet-mapping>  
    <servlet-name>LogoutServelet</servlet-name>  
    <url-pattern>/LogoutServelet</url-pattern>  
  </servlet-mapping>  
  
   <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>Acceuil.jsp</welcome-file>
    </welcome-file-list>
</web-app>